@import 'fonts.css';
@import 'header.css';
@import 'reset.css';
@import 'footer.css';

/* ---------------- MAIN CONTENT ---------------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-light);
}

.main-block {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block {
    position: relative;

    display: flex;
    align-items: center;
    gap: 2rem;

    width: 45rem;
    padding: 1.5rem;
    border-radius: 0.9rem;
    box-shadow: 0px 22.9px 45.8px -11.45px rgba(52, 41, 39, 0.08);
}


.info-text {
    display: flex;
    gap: 1rem;
}

.block-info {
    display: flex;
    flex-direction: column;
    gap: 0.80rem;
}

.name-text {
    font-family: 'Dela Gothic One';
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 100%;
}

.github-button {
    font-family: 'Montserrat';
    font-size: 0.65rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    background-color: var(--cyan-dark);
    padding: 0.25rem 0.5rem;
    color: white;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
}

.about-text {
    color: var(--grey-dark);
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 140%;
}

.image {
    width: 170px;
}

/* ------------ ANIMATION ------------ */


.left-anim_block {
    animation: leftAnimation 1.7s ease;
}

.right-anim_block {
    animation: rightAnimation 1.7s ease;
}

@keyframes leftAnimation {
    0% {
        right: 300px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes rightAnimation {
    0% {
        left: 300px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}