.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grey-light);
    padding: 24px 10rem;
}

.head-wrap {
    display: flex;
    align-items: center;
    gap: 1.8rem;

}

.logo-text {
    font-family: 'Dela Gothic One';
    color: black;
    font-size: 1.3rem;
}

nav a {
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 600;
    color: var(--grey-dark);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

nav a:hover {
    color: black;
    transition: 1s;
}

.little-line {
    border-left: 1.5px solid #E0E0E0;
    height: 17px;
}

/* --------- BUTTONS --------- */

.reg-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.login-button {
    background-color: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.signup-button {
    background-color: var(--cyan-dark);
    border-radius: 100px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    padding: 11px 18px;
}

.login-button:hover {
    color: var(--cyan-dark);
    text-transform: underline;
    transition: 1s;
    cursor: pointer;
}

.signup-button:hover {
    background-color: transparent;
    color: var(--cyan-dark);
    border: 2px solid var(--cyan-dark);
    transition: 1s;
    cursor: pointer;
}


.submenu-content {
    position: absolute;

    border-radius: 0.875rem;
    background-color: white;
    padding: 10px 50px 10px 0;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: 0.5s ease;
    box-shadow: 0px 11.449064254760742px 11.449064254760742px 0px rgba(52, 41, 39, 0.04), 0px 11.449064254760742px 68.69439697265625px 0px rgba(52, 41, 39, 0.04), 0px 68.69439697265625px 68.69439697265625px 0px rgba(52, 41, 39, 0.04), 0px 91.59251403808594px 91.59251403808594px 0px rgba(52, 41, 39, 0.04), 0px 183.18502807617188px 183.18502807617188px 0px rgba(52, 41, 39, 0.12), 0px 343.4719543457031px 343.4719543457031px 0px rgba(52, 41, 39, 0.08);
}

.submenu-content a {
    padding: 10px 16px;
    display: block;
}

.submenu:hover .submenu-content {
    margin-top: 10px;
    max-height: 200px; /* Высота, на которую раскрывается список */
    opacity: 1;
    visibility: visible;
    transition: 1s ease;

}

