@import 'fonts.css';
@import 'header.css';
@import 'reset.css';

h1 {
    font-size: 2rem;
    font-family: 'Dela Gothic One';
    line-height: 100%;
}


 /* ---------------- MAIN CONTENT ---------------- */

 main { 
    background-color: var(--grey-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 90vh;
}

.main {
    position: relative;

    background-color: white;
    padding: 60px 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    box-shadow: 0px 22.898128509521484px 45.79625701904297px -11.449064254760742px rgba(52, 41, 39, 0.08);
}

.aside {
    position: relative;
}

.main-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.main-text p {
    font-family: 'Montserrat';
    font-weight: 600;
    color: var(--grey-dark);
    font-size: 0.8rem;
}

.forms-block {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
}

.form-text {
    
    font-family: 'Montserrat';
    color: var(--grey-dark);
    font-size: 1rem;
    
    /* margin-top: 1rem; */
    margin-bottom: 5px;
} 

.input {
    width: 20rem;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 12px;
}

.input::placeholder {
    font-family: 'Montserrat';
    font-size: 0.8rem;
}



.submit-info {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

.end-text {
    color: var(--grey-dark);
    font-family: 'Montserrat';
    font-size: 0.8rem;
}

.end-text a {
    color: var(--cyan-dark);
}

.sumbit-info__button {
    width: 20rem;
    background-color: var(--cyan-dark);
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    border: none;
    border-radius: 100px;
    padding: 14px 18px;
    
}

.sumbit-info__button:hover {
    background-color: transparent;
    color: var(--cyan-dark);
    border: 2px solid var(--cyan-dark);
    transition: 1s;
    cursor: pointer;
}

img {
    width: 115%;
}

/* ------------ ANIMATION ------------ */

.main-anim_block {
    animation: mainAnimation 1.5s ease;
}

.aside-anim_block {
    animation: asideAnimation 1.5s ease;
}

@keyframes asideAnimation {
    0% {
        opacity: 0;
        top: 140px;
    }

    50% {
        top: -10px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}


@keyframes mainAnimation {
    0% {
        opacity: 0;
        bottom: 140px;
    }

    50% {
        bottom: -10px;
    }

    100% {
        opacity: 1;
        bottom: 0;
    }
}
