@import 'fonts.css';
@import 'header.css';
@import 'reset.css';
@import 'footer.css';



 /* ---------------- MAIN CONTENT ---------------- */


.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10rem;
    height: 70vh;
    background-color: var(--grey-light);
    gap: 10rem
}

.main-block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24rem;
    gap: 1.25rem;

}

.aside-block {
    position: relative;
}

.main-block__uppertext p{
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: var(--cyan-dark);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-block__maintext {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.87rem;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Dela Gothic One';
    line-height: 100%;
    font-size: 2.75rem;
    font-weight: 400;
    letter-spacing: -0.11rem;
}

.main-block__downtext {
    width: 21rem;
}

.main-block__downtext p {
    color: #585858;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.04px;
}

.main-block__buttons {
    display: flex;
    gap: 1.3rem;
    height: 36px;
}


.main-block__signin--button:hover {
    color: var(--cyan-dark);
    cursor: pointer;
    transition: 1s;
}

.main-block__about--button {
    background-color: var(--cyan-light);
    font-family: 'Montserrat';
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: -0.035rem;
    border-radius: 100px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--cyan-dark);
    padding: 1px 20px;
}


.main-block__about--button:hover {
    color: white;
    background-color: var(--cyan-dark);
    cursor: pointer;
    transition: 1s;
}

.main-block__elements {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
}

.main-block__first--element {
    width: 128px;
    display: flex;
    align-items: end;
    gap: 0.2rem;
    flex-wrap: wrap;
}

.main-block__second--element {
    width: 160px;
    display: flex;
    align-items: end;
    gap: 0.2rem;
    flex-wrap: wrap;
}

.middle-line {
    border-left: 1.5px solid #E0E0E0;
    height: 2.5rem;
}


.main-block__first--element p,
.main-block__second--element p {
    font-family: 'Dela Gothic One';
    font-size: 2rem;
    line-height: 100%;
}

.secondary-text {
    color: #585858;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.plus {
    color: var(--cyan-dark);
    font-family: 'Dela Gothic One';
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.second {
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 0 10rem;
 

}

.second-main {
   display: flex;
   flex-direction: column;
   gap: 1.8rem;
   margin-bottom: 7rem;
}

.second-main__text--first {

    font-family: 'Dela Gothic One';
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.12rem;
}

.second-main__text--second {
    width: 25rem;
    font-family: 'Montserrat';
    color: var(--grey-dark);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 140%;
}

.second-main__elements  {
    display: flex;
    gap: 3.9rem;
}


.sprint,
.audio-call {
    position: absolute;
}


.sprint-image {
    position: relative;
    transition: all 1s ;
    
}


.sprint-block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 2.1rem;
    width: 131px;
    height: 110px;
    background-color: var(--pink-light);
    border-radius: 14px;
}

.audio-call__image {
    position: absolute;
    left: 13rem;
    transition: all 1s ;
}

.audio-call__block {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: 10.5rem;
    top: 1.9rem;
    width: 172px;
    height: 112px;
    background-color: var(--cyan-light);
    border-radius: 14px;
} 

.sprint-button {
    font-family: 'Montserrat';
    color: var(--pink-dark);
    text-align: center;
    margin-bottom: 0.7rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.audio-call__button {
    font-family: 'Montserrat';
    color: var(--cyan-dark);
    text-align: center;
    margin-bottom: 0.7rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.sprint-button:hover {
    color: var(--cyan-dark);
    transition: 1s;
}

.audio-call__button:hover {
    color: var(--pink-dark);
    transition: 1s;
}

.third {
    height: 500px;
    background-color: var(--grey-light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.third-main {
    width: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}

.third-aside {
    margin-top: 1.9rem;
    width: 30rem;
    height: 30rem;
    background-image: url('/img/third.svg');
    background-repeat: no-repeat;
}

.default__a {
    font-family: 'Dela Gothic One';
    font-size: 3rem;
    font-weight: 400;
    line-height: 100%;
}

.default__b {
    font-family: 'Montserrat';
    color: var(--grey-dark);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 140%;
}

.default__c {
    background-color: var(--cyan-light);
    color: var(--cyan-dark);
    border-radius: 100px;
    border: none;
    padding: 14px 22px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.default__c:hover {
    background-color: var(--cyan-dark);
    color: white;
    transition: 1s;
    cursor: pointer;
}


.third-aside__image {
    margin-top: 2rem;
    
}

.fourth {
    /* width: 100%; */
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-aside {
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* ------------ ANIMATION ------------ */

/* ------------ FIRST BLOCK TEXT ------------ */

.first-text_item {
    opacity: 0;
    transform: translateX(-120px);
    transition: opacity 0.5s , transform 1s;
}

.first-text_item.text-animation {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-in-out, transform 0.75s ease-in-out;
}

/* ------------ FIRST BLOCK IMAGE ------------ */

.first-image_item {
    opacity: 0;
    transform: translateX(120px);
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.first-image_item.image-animation {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-in-out, transform 0.75s ease-in-out;
}

/* ------------ TEXT ANIMATIONS ------------ */

.text_items {
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.text_items.text-animation {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

/* ------------ LEFT IMAGES ANIMATION ------------ */

.left-image_items {
    opacity: 0;
    transform: translateX(-70px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.left-image_items.image-animation {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

/* ------------ RIGHT IMAGES ANIMATION ------------ */

.right-image_items {
    opacity: 0;
    transform: translateX(70px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.right-image_items.image-animation {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}