* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    line-height: 1;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    

    --cyan: #5996A5;
    --green: #639B6D;
    --pink: #A15993;
    --red: #A95151;
    --yellow: #C4A24C;
    --orange: #CB5B43;
    --cyan-dark: #2B788B;
    --cyan-light: #C3DCE3;
    --pink-dark: #945069;
    --pink-light: #F2D4DC;
    --grey-light: #F6F5F4;
    --grey-medium: #E0E0E0;
    --grey-icon: #BABABA;
    --grey-dark: #757575;
    
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}