@import 'fonts.css';
@import 'header.css';
@import 'reset.css';
@import 'footer.css';



main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: var(--grey-light);
}

.main-block {
    position: relative;
    display: flex;
    gap: 1.88rem;
    padding: 2.5rem;
    border-radius: 1rem;
    width: 50rem;
    background-color: white;
    box-shadow: 0px 22.898128509521484px 45.79625701904297px -11.449064254760742px rgba(52, 41, 39, 0.08);
}

.aside-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
}

.text { 
    display: flex;
    flex-direction: column;
    gap: 0.88rem;
}

h1 { 
    font-family: 'Dela Gothic One';
    width: 60%;
    font-size: 2rem;
}

.aside-block p {
    width: 95%;
    font-family: 'Montserrat';
    font-weight: 600;
    color: var(--grey-dark);
    line-height: 140%;
}

.buttons {
    display: flex;
    gap: 1.88rem;
}

/* ------------ ANIMATION ------------ */

.anim-block {
    animation: defAnimation 1.5s ease;
}

@keyframes defAnimation {
    0% {
        opacity: 0;
        bottom: 100px;
    }

    50% {
        bottom: -20px;
    }

    100% {
        opacity: 1;
        bottom: 0;
    }
}